body{
  background-image: url("../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%) ;

}


.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  height: 700px;
}

/*for the left*/

.left{
  width: 900px;
}

.big-title{
  font-size: 2.5em;
  padding: 0 5em;
  color: #fff;
}

.big-title-description{
  padding:  0 8em 0 12.5em;
  color: #fff;
}


/*for the right*/
.right{
  text-align: center;
  padding: 5em 7.5em 0 0;
}

/*for up*/
.up{
  background-color: hsl(248, 32%, 49%);
  padding: 1em 0;
  margin-bottom: 1.5em;
  border-radius: 0.6em;
  color: #fff;
}


/*for down*/
.down{
  background-color: #fff;
  padding: 3em 1.5em;
  border-radius: 0.4em;
}


.information, .admit-button{
  height: 3.6em;
  width: 30em;
  padding-right: 1em;
  border-radius: 0.4em;
}

.admit-button{
  background-color: hsl(154, 59%, 51%);
}

.admit-button:hover{
  opacity: 0.5;
  transition-duration: 1s;
}

.Terms{
  font-size: 0.8em;
  text-align: center;
}

#firstError, #secondError, #thirdError, #fourthError{
  color:red;
  visibility: hidden;
  text-align: right;
  font-size: 0.8em;
  padding-right:1em;
}

.error{
  background-image: url("../images/icon-error.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-origin: content-box;

}




@media (max-width: 983px){
  .main{
    display: flex;
    flex-direction: column;
    text-align: center;
  }


  /*for left*/

  .left{
    width: auto;
  }
  .big-title{
    text-align: center;
    padding: 0;
  }

  .big-title-description{
    padding: 0;
  }

  /*for the right*/
  .right{
    padding: 0;
    width: 20.5em;
  }

  .up{
    width: auto;
    background-color: hsl(248, 32%, 49%);
    padding: 1em 3em;
    margin-bottom: 1.5em;
    border-radius: 0.6em;
    color: #fff;
  }

  .down{
    margin-bottom: 5em;
  }


  /*for form*/
  .information, .admit-button{
    height: 3.6em;
    width: 20em;
    padding-right: 1em;
    border-radius: 0.4em;
  }

}
